---
import Navbar from '../components/Navbar.astro'
---
<Navbar />
<div>
    <h1 class="text-center text-6xl pt-5">About Me</h1>
    <p class="text-center pt-80 text-6xl">Work On Progress....</p>
</div>