---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro'
---
<Navbar/>
<div class="bg-gradient-to-r from-green-300 to-blue-500 h-screen">
	<h1 class="text-9xl text-center pt-80 font-semibold">Fluffy Clouds Blog</h1>
	</div>
</div>