---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro'
---
<Layout title="Fluffy Clouds Blog">
<Navbar/>
<div class="bg-gradient-to-r from-green-300 to-blue-500 h-screen">
	<h1 class="text-9xl text-center pt-72 font-semibold">Fluffy Clouds Blog</h1>
	<h2 class="text-5xl text-center pt-5">This is my blog</h2>
</div>
</div>
</Layout>