<ul class=' pt-5 pb-5 text-center bg-blue-600'>
    <div class=' text-neutral-50'>
      <li class=' text-left inline'><a href="/">Fluffy Clouds Blog</a></li>
      <li class=' inline pr-44 pl-52'><a href="/blog">Blog</a></li>
      <li class=' inline pr-44 '><a href="/">Placeholder</a></li>
      <li class=' inline pr-44'><a href="/">Placeholder</a></li>
      <li class=' inline pr-44 '><a href="/">Placeholder</a></li>
      <li class=' inline pr-44'><a href="/about/">About</a></li>
      </div>
  </ul>